h1 {
    color: rgb(45, 142, 162);
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: rgb(202, 28, 19);
}
body {
    background-image: url("fondtest.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
