html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}
h1 {
    color: #18d1bf;
}
nav{
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
}

/*---------------------------Barre de navigation----------------------------*/

nav ul{
    list-style: none;
    display:flex;
    justify-content: right;
    margin: 0;
    padding: 30px;
    background-color: rgba(18, 18, 18, 0.527);
    background-attachment: fixed;
}

/* Catégories */
nav li a{
    color: #18d1bf;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition:all 0.1s
}

/* Effet des catégories */
nav li a:hover {
    background-color: #0d7b76;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.2);
    color: rgb(16, 200, 182);
    transform: scale(1.1);
    border-radius: 7px;
}

/* Barre de progression */
#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background: linear-gradient(90deg, #18d1bf, #18d1bf);
  z-index: 1000;
  transition: width 0.2s;
}

/* Pseudo */
#pseudo {
  margin-right: auto;
  font-size: 22px;
  color: #18d1bf;
  font-family: monospace, 'Consolas', 'Courier New', sans-serif;
  font-weight: bold;
  padding-left: 10px;
  border-radius: 9px;
}


body {
    background-color:rgb(0, 0, 0);
    color: white;
    margin: 0;
}
header {
    padding: 175px 0px;
    font-size: 50px;
    transition:all 0.2s;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
header h1:hover{
    text-shadow:0 5px 20px #18d1bf;
}
main {
    padding: 200px;
 }

/*---------------------------Block skills----------------------------*/
.block_skills {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

/* Block des projets */
.Comptence {
  flex: 1 1 340px;
  min-width: 320px;
  max-width: 480px;
  background-color: rgba(18, 18, 18, 0.527);
}

/* Block des outils */
.testpos li{
    padding: 0px 20px;
    background-color: rgba(18, 18, 18, 0);
    text-decoration: none;
    display: inline-block;
    list-style: none;
    width: fit-content;
    border: 1px solid #18d1bf;
    border-radius: 10px;
    transition:all 0.2s
} 
.testpos li:hover {
    transform: scale(1.1);
}
h2, h3{
    color: #18d1bf;
}
footer{
    text-align: center;
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background: linear-gradient(90deg, #18d1bf, #18d1bf);
  z-index: 1000;
  transition: width 0.2s;
}

